# Python virtual enviroment and cache
.venv
__pycache__

# Zip files
*.zip
*.rar
*.7z

#-- Auxiliary study material --
.material

#-- Large files --
scenarios/BD/*
#scenarios/BH/*
scenarios/TAPASCologne-0.32.0/*
scenarios/ev_test/*
scenarios/ev_test1/*

# -- data --
data/logs/*
data/stats/*
data/tests/*